<h1>Edit</h1>

<%= bootstrap_form_for @mural do |f| %>
  <%= f.text_field :mural_name %>
  <br>
  <%= f.select(:region, options_for_select([["North", "North"], ["Northeast", "Northeast"], ["Northwest", "Northwest"], ["Southwest/Downtown", "Southwest/Downtown"], ["Southeast", "Southeast"]]), { include_blank: "Select Region" }) %>
  <%= f.select(:year_created, options_for_select([["2013", "2013"], ["2014", "2014"], ["2015", "2015"]]), { include_blank: "Select Year"}) %>
  <%= f.text_area :artist_name %>
  <%= f.text_area :mural_address %>
  <%= f.text_area :photo_credit %>
  <%= f.file_field :attached_image %>
  <br>
  <%= f.submit "Add mural", class: "btn btn-success" %>
<% end %>

<p>
  <%= link_to 'Delete this mural', mural_path(@mural),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %>
</p>
