<div class="lightbox_container">
  <div class="container">

    <div id="centered_text">
      <h1>Portland Murals</h1>
      <h3>Click on an image for a full-size lightbox of the mural.</h3>

      <h3 id="sorter">Sort by:
      <%= link_to "Name", :sort => "mural_name" %> | <%= link_to "Year", :sort => "year_created" %> | <%= link_to "Region", :sort => "region" %> | <%= link_to "Artist", :sort => "artist_name" %></h3>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3">Image</th>
          <th class="col-md-2">Name</th>
          <th class="col-md-2">Year</th>
          <th class="col-md-1">Region</th>
          <th class="col-md-2">Address</th>
          <th class="col-md-2">Artist</th>
        </tr>
      </thead>
      <% @murals.each do |mural| %>
        <tbody>
          <tr>
            <td id="mural_container"><%= link_to image_tag(mural.attached_image), mural_path(mural), id: "mural_lightbox_#{ mural.id }", remote: true %></div></td>
            <td><%= mural.mural_name %></td>
            <td><%= mural.year_created %> </td>
            <td><%= mural.region %></td>
            <td><%= mural.mural_address %> </td>
            <td><%= mural.artist_name %> </td>
            <% if current_user.present? && current_user.admin? %>
              <td><%= link_to "Edit", edit_mural_path(mural) %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
