<div id="infobox">
  <%= link_to image_tag(mural.attached_image), mural_path(mural), id: "mural_lightbox_#{ mural.id }", remote: true %>
  <p><span id="bold">Name: </span><%= mural.mural_name %></p>
  <p><span id="bold">Year: </span><%= mural.year_created %></p>
  <p><span id="bold">Created by: </span><%= mural.artist_name %></p>
  <p><span id="bold">Address: </span><%= mural.mural_address %></p>
</div>


<span id="bold"></span>
