<div id="header">
  <div id="header_image"></div>
  <div id='nav_bar'>
    <ul>
      <li><%= link_to "Portland murals", murals_path %></li>
       <li><%= link_to "Map", map_index_path %></li>
       <li><%= link_to "About this project", about_path %></li>
       <% if current_user.present? %>
         <li class="right"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
         <% if current_user.admin? %>
           <li><%= link_to "Add mural", new_mural_path %></li>
         <% end %>
       <% else %>
         <li class="right"><%= link_to "Sign in", new_user_session_path %></li>
       <% end %>
    </ul>
  </div>
</div>
